body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
}

.quiz-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-header h2 {
    margin-bottom: 20px;
}

.quiz-header img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: opacity 0.5s ease;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    height: 120px;
}

.option-1 {
    background-color: #007BFF;
}

.option-2 {
    background-color: #28A745; 
}

.option-3 {
    background-color: #FFC107; 
}

.option-4 {
    background-color: #DC3545; 
}

.option:hover {
    opacity: 0.8;
}

#retry-btn {
    background-color: #dc3545;
    border-color: #dc3545;
}

#retry-btn:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.hidden-with-animation {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}


/* Fuente estilo Goku */
.goku-font {
    font-family: 'Bangers', cursive;
    font-size: 4rem;
    color: #f39c12;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 20px;
}

/* Imagen logo de Goku */
.logo-goku {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}

/* Estilos adicionales del cuestionario */
.hidden {
    display: none;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

button {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.5rem;
}

.hidden-offscreen {
    transform: translateX(-150%);
    transition: transform 0.5s ease-out;
}

.visible-onscreen {
    transform: translateX(0);
    transition: transform 0.5s ease-out;
}
